/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "lily58.dtsi"

&kscan0 {
    col-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>,
                <&gpio0 18 GPIO_ACTIVE_LOW>,
                <&gpio0 4 GPIO_ACTIVE_LOW>,
                <&gpio0 14 GPIO_ACTIVE_LOW>,
                <&gpio0 16 GPIO_ACTIVE_LOW>,
                <&gpio0 10 GPIO_ACTIVE_LOW>;
};

&left_encoder {
    status = "okay";
};
